.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }
  
  .div-button{
    justify-content: center;
  }
  
  .mat-dialog-title {
    text-align: center;
  }

  