<div class="container">
    <h2 mat-dialog-title>Вы уверены?</h2>
    <h2 mat-dialog-title>{{ data }}</h2>
    <div mat-dialog-content>
    </div>
    <div mat-dialog-actions class="div-button">
      <button mat-flat-button color="primary" class="btn-block center" [mat-dialog-close]="1" (click)="confirm()">Yes</button>
      <button mat-flat-button color="primary" class="btn-block center" (click)="onNoClick()" tabindex="-1">No</button>
    </div>
  </div>