<mat-card class="thought_body">
    <div style="flex: 0.05">{{ thought.number }}</div>
    <div class="thought_name" data-bs-toggle="tooltip" data-bs-placement="top" title="{{thought.title}}">{{ thought.title.length > 90 ? (thought.title | slice:0:90) + "..." : (thought.title) }}</div>
    <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
    class="but"
    mat-mini-fab
    color="primary"
    (click)="service.createEditDialog(thought)">
    <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
    class="but"
    mat-mini-fab
    color="primary"
    (click)="service.deleteThoughtDialog(thought)">
    <mat-icon>delete</mat-icon>
    </button>
    <button
     mat-mini-fab color="primary" 
    (click)="service.createInfoDialog(thought)">
       <mat-icon>info</mat-icon>
    </button>
</mat-card>