<div class="container">
  <h3 mat-dialog-title>Вы уверены?</h3>
  <div mat-dialog-content>
  </div>
  <div mat-dialog-actions class="div-button">
    <button mat-flat-button color="primary" class="btn-block center" [mat-dialog-close]="1" (click)="confirmDelete()">Удалить</button>
    <button mat-flat-button color="primary" class="btn-block center" (click)="onNoClick()" tabindex="-1">Отменить</button>
  </div>
</div>