<form [formGroup]="boardForm" class="example-form" id="boardFormId">
    <mat-card-content>
      <mat-form-field class="example-full-width" [formGroup]="boardForm">
        <input required matInput placeholder="Название" formControlName="name" />
      </mat-form-field>
    </mat-card-content>
    <button [disabled]="boardForm.invalid" (click)="onSubmit()"
     mat-flat-button color="primary" class="btn-block" type="submit">
      Ок
    </button>
    <button mat-flat-button color="primary" class="btn-block" (click)="service.closeDialog()" style="margin:5px;">
      Отменить
    </button>
</form>
