
<div class="but">
    <input type="text" name="boardName" [(ngModel)] = "boardName" (ngModelChange)="boardNameChange($event)">
</div>
<div class="but">
    Код: {{board.code}}
</div>
<div class="but">
    Дата создания: {{board.createDate}}
</div>