.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  .party_color{
    width: 5px; 
    height: 5px;  
    border-radius: 50%; 
  }