<div class="example-box">
    <div style="width: 100%;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{thoughtRate.thought.title}}">#{{thoughtRate.thought.number}} {{thoughtRate.thought.title.length > 50 ? (thoughtRate.thought.title | slice:0:50) + "..." : (thoughtRate.thought.title)}}</div>
    <div>
    <div *ngIf="thoughtRate.userRate">Оценка:{{thoughtRate.userRate}}</div>
    </div>
    <div style="margin-left: 50px;">
    <button class="but" mat-mini-fab color="primary" *ngIf="estimated && !this.boardSettingsService.bidding && boardService.hasUserWriteGrants()"  (click)="service.createEstimateDialog(thoughtRate)"><mat-icon>star</mat-icon></button>
    </div>
    <div *ngIf="party != null">
        <mat-card class="party_color" [style.background]="party.color"
        data-bs-toggle="tooltip" data-bs-placement="top" title="Закреплено за группой {{party.title}}"></mat-card>
    </div>
    <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
    style="margin-left: 5px;"
    mat-mini-fab
    color="primary"
    (click)="service.deleteThoughtDialog(thoughtRate.thought)">
    <mat-icon>delete</mat-icon>
    </button>
    <div style="margin-left: 5px;">
    <button mat-mini-fab color="primary" (click)="service.createInfoDialog(thoughtRate.thought)"><mat-icon>info</mat-icon></button>
    </div>
</div>
