<div class="mat-dialog-container">
    <p>Вы действительно хотите покинуть группу?</p>
    <p>Если вы её покинете, то ваш голос на выборах лидера и/или ваша заявка будут удалены</p>
    <button mat-flat-button color="primary" (click)="exit()"> 
        Ок
    </button>
    <button mat-flat-button color="primary" (click)="partyService.closeDialog()"> 
        Отмена
    </button>
</div>
