.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  flex: 1;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-card {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.mat-tab.body,
.mat-tab-group,
.mat-tab-body-wrapper {
  flex: 1;
}

:host,
.example-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mat-tab.body {
  display: flex !important;
}

.mat-tab.body {
  overflow: auto !important;
}

.mobile_nav {
  flex-direction: row;
  justify-content: space-around;
  flex: 0;
  position: absolute;
  bottom: 0;
}

.mobile_content {
  width: 250%;
}

.inner_mobile_content {
  overflow-x: scroll;
  flex: 1;
  display: flex;
}

.mobile_nav,
.mobile_content {
  flex: 1;
  flex-direction: row;
}

.desktop_nav,
.desktop_content {
  flex: 1;
  flex-direction: row;
}
.but{
  border:0;
  cursor: pointer;
  background: white;
}
