<mat-tab-group>
    <mat-tab label="Идеи" id="ideas_tab" #ideas>
        <app-idea-estimate  [active]="ideas.isActive"></app-idea-estimate>
    </mat-tab>
    <mat-tab label="Инициативы"  #inits>
        <app-initiative-estimate [active]="inits.isActive"></app-initiative-estimate>
    </mat-tab>
    <mat-tab *ngIf="userService.currentUser.party" label="Моя группа" #myparty>
        <app-joinedParty-component style="display: block;height:100%"  [active]="myparty.isActive"></app-joinedParty-component>
    </mat-tab>
    <mat-tab label="Группы" #party>
        <app-party-list  [active]="party.isActive"></app-party-list>
    </mat-tab>
    <mat-tab label="Карта" #map>
        <app-map [active]="map.isActive"></app-map>
    </mat-tab>
    <mat-tab label="Мои идеи" #myIdeas>
        <app-idea-list [active]="myIdeas.isActive"></app-idea-list>
    </mat-tab>
    <mat-tab label="Мои инициативы" #myInits>
        <app-initiative-list [active]="myInits.isActive"></app-initiative-list>
    </mat-tab>
</mat-tab-group>