<mat-card>
    <mat-card-title>
        Бан
    </mat-card-title>
    <mat-card-content>
        <div class="form-group">
            <label class="label_size">Имя</label>
            <input class="form-control border" type="text" style="width: 100%; height: 56px;" readonly placeholder="Имя пользователя" 
            [(ngModel)]="user.name">
        </div>
        <div class="form-group">
            <label class="label_size">Описание</label>
            <br>
            <label style="margin-top: 5px;">{{description.length}}/256</label>
            <textarea class="form-control border" [(ngModel)]="description" maxlength="256" style="resize: none;height: 200px;"></textarea>
        </div>
        <button mat-flat-button color="primary" (click)="ban(user)">
            Забанить
        </button>
        <button mat-flat-button color="primary" (click)="partyService.closeDialog()">
           Отменить
        </button>
    </mat-card-content>
</mat-card>