<div style="height: 100%;">
  <div class="overflow-auto" style="display: flex; flex: 1; min-height: 0px; height: 500px;">
    <div style="flex:1; overflow-y: overlay; display: flex; flex-direction: column; ">
      <app-idea *ngFor="let p of ideaService.userThoughts" [idea]="p"></app-idea>
    </div>
  </div>
  <div class="d-flex flex-row-reverse" style="margin: 20px;">
   <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
    class="desktop_nav"
    style="justify-content: center; align-items: center;"
    mat-fab
    color="primary"
    (click)="ideaService.createEditDialog()">
    +
   </button>
  <mat-toolbar class="mobile_nav" style="height: 56px;" color="primary">
    <button
      mat-button
      style="flex: 1;"
      (click)="ideaService.createEditDialog()">
      +
    </button>
  </mat-toolbar>
  </div>
</div>