
body{
    background-color: #bdc3c7;
  }
  h4, h5 {
    font-weight: normal;
    color: gray;
  }
  .table_div {
    margin: 5px;
  }
button{
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
hr {
  margin: 10px;
}