<div *ngIf="party">
    <div>
        <div>
            <div class="row" style="margin-left: 5px;">
                <div class="col" style="margin-top: 5px; vertical-align: top;">
                    <h4>{{party.title}}</h4>
                    <h4>Создатель: {{party.creator.name}}</h4>
                </div>
                <div class="col" style="margin-top: 5px;">
                    <h4>Дата создания: {{createDate}}</h4>
                    <h4>Дата следующих выборов: {{electDate}}</h4>
                </div>
            </div>
            <hr/>
            <div *ngIf="currUser">
                <button *ngIf="currUser.candidate==false && !boardSettingsService.bidding && boardService.hasUserWriteGrants()"mat-flat-button color="primary" class="btn-block" (click)="addRequest(currUser)">
                    Подать заявку на лидерство
                </button>
                <button *ngIf="currUser.candidate==true && !boardSettingsService.bidding && boardService.hasUserWriteGrants()" mat-flat-button color="primary" class="btn-block" (click)="delRequest(currUser)">
                    Отозвать заявку на лидерство
                </button>
                <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()" mat-flat-button color="primary" class="btn-block" (click)="exit()">
                   Покинуть группу
                </button>
                <button  mat-flat-button color="primary" class="btn-block" (click)="blackList()">
                    Черный список
                </button>
            </div>
        </div>
    </div>
    <div class="table_div d-flex">
        <div class="table_div">
                <h5 style="margin-left: 5px;">Участники</h5>
                <table scrollY="true" class="table table-bordered table-responsive" bordered="true">
                    <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of mainList; let i = index">
                            <th class="align-middle" scope="row">{{element.member.name}}</th>
                            <td class="w-auto">
                                <span *ngIf="element.member.id == party.leader.id">лидер</span>
                                <span *ngIf="element.member.id == party.leader.id
                                && element.member.id == party.creator.id">, </span>
                                <span *ngIf="element.member.id == party.creator.id">основатель</span>
                                <span *ngIf="(element.member.id == party.creator.id ||
                                element.member.id == party.leader)  && element.candidate == true ">, </span>
                                <span *ngIf="element.candidate == true">кандидат</span>
                            </td>
                            <td class="align-middle">
                                <button mat-mini-fab color="primary" *ngIf="boardService.hasUserWriteGrants() && currUser.member.id == party.leader.id && element.id != currUser.id" (click)="ban(element.member)">
                                    <mat-icon>person_remove</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="table_div">
                <h5 style="margin-left: 5px;">Кандидаты на место лидера</h5>
                <table scrollY="true" class="table table-bordered table-responsive" bordered="true">
                    <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Слоган</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of electList; let i = index">
                            <th class="align-middle">{{element.member.name}}</th>
                            <td>{{element.slogan}}</td>
                            <td>
                                <button mat-mini-fab color="primary" (click)="partyService.createCandidateInfoDialog(element)">
                                    <mat-icon>info</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" *ngIf="currUser.candidate == false" [disabled]="chosenCand!=null && chosenCand.candidate.id == element.id" (click)="likeCandidate(element)">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
