<form
  [formGroup]="partyForm"
  (ngSubmit)="onSubmit()"
  class="example-form">
  <mat-card-content>
    <mat-form-field class="example-full-width" [formGroup]="partyForm">
      <input required matInput placeholder="Название" formControlName="title"/>
      <mat-hint *ngIf="visible" class="notification">Группа с данным именем уже существует</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width" [formGroup]="partyForm">
      <input
        matInput
        [ngxMatColorPicker]="picker"
        formControlName="color"
        placeholder="Цвет"
        required/>
      <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
      <ngx-mat-color-picker
        #picker
        [touchUi]='false'
        [color]="partyForm.value.color"></ngx-mat-color-picker>
    </mat-form-field>
  </mat-card-content>

  <button mat-flat-button color="primary" class="btn-block" type="submit">
    Ок
  </button>
  <button mat-flat-button color="primary" class="btn-block" type="reset" (click)="partyService.closeDialog()" style="margin:5px;">
    Отменить
  </button>
</form>
