<mat-card style="height: 90%;">
    <div>{{partyForm.value.slogan.length}}/140</div>
    <mat-form-field style="height: 100%; width: 100%;" [formGroup]="partyForm"> 
            <textarea required matInput placeholder="Слоган"
             formControlName="slogan" style="resize: none; height: 150px;">
            </textarea>
        </mat-form-field>
    <div>
        <button [disabled]="partyForm.invalid"  mat-flat-button color="primary" class="btn-block" (click)="Submit()">Ок</button>
        <button mat-flat-button color="primary" class="btn-block"(click)="partyService.closeDialog()">Отмена</button>
    </div>
</mat-card>