<mat-tab-group>
    <mat-tab label="Users">
      <crud-table
        [loadData]="loadUserData"
        [model]="userDataModel"
        [deleteDialog]="deleteUserDialog"
        [editDialog]="createEditUserDialog"
      ></crud-table>
    </mat-tab>
    <mat-tab label="Groups">
      <crud-table
        [loadData]="loadPartyData"
        [model]="partyDataModel"
        [deleteDialog]="deletePartyDialog"
        [editDialog]="createEditPartyDialog"
      ></crud-table>
    </mat-tab>
    <mat-tab label="Ideas">
      <crud-table
        [loadData]="loadIdeaData"
        [model]="ideaDataModel"
        [deleteDialog]="deleteIdeaDialog"
        [editDialog]="createEditIdeaDialog"
      ></crud-table>
    </mat-tab>
    <mat-tab label="Initiatives">
      <crud-table
        [loadData]="loadInitiativeData"
        [model]="initiativeDataModel"
        [deleteDialog]="deleteInitiativeDialog"
        [editDialog]="createEditInitiativeDialog"
      ></crud-table>
    </mat-tab>
</mat-tab-group>
