<mat-tab-group>
    <mat-tab label="Общие настройки">
        <app-general-board-settings [boardId]="boardId"></app-general-board-settings>
    </mat-tab>
    <mat-tab label="Пользователи">
        <app-board-users [boardId]="boardId"></app-board-users>
    </mat-tab>
    <mat-tab label="Содержание доски">
        <app-board-functionality [boardId]="boardId"></app-board-functionality>
    </mat-tab>
</mat-tab-group>