<mat-toolbar color="primary">
      <button *ngIf="userService.currentUser!=null"
        style="margin-right: 15px;"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <!-- pass local reference of mat-menu to be opened on this click -->
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu class="menu-overflow-hidden" #menu="matMenu">
        <button mat-menu-item (click)="home()">
          <mat-icon>home</mat-icon>
          <span>На главную</span>
        </button>
        <button *ngIf="userService.currentUser!=null && userService.currentUser.userRole=='ADMIN'" mat-menu-item (click)="admin()" >
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Админ</span>
        </button>
        <button *ngIf="userService.currentUser!=null && userService.currentUser.userRole=='ORGANIZER'" mat-menu-item (click)="org()">
          <mat-icon>engineering</mat-icon>
          <span>Организатор</span>
        </button>
        <button *ngIf="false" mat-menu-item (click)="myProfile()">
          <mat-icon>assignment_ind</mat-icon>
          <span>Мой профиль</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выйти</span>
        </button>
        <button mat-menu-item (click)="logoutFromBoard()"
        *ngIf="userService.currentUser!=null && userService.currentUser.currBoard!=null">
          <mat-icon>meeting_room</mat-icon>
          <span>Доски</span>
        </button>
        <button mat-menu-item (click)="aboutProj()">
          <mat-icon>help</mat-icon>
          <span>О программе</span>
        </button>
      </mat-menu>
      <app-board-changer *ngIf="userService.currentUser!=null && userService.currentUser.currBoard!=null" >
      </app-board-changer>
      <span style="flex: 1 1 auto;"></span>
          <mat-card style="float: left; background: 0; box-shadow: none;color: inherit;">
            <mat-card class="party_color" style="margin-right: 5px;"
             *ngIf="userService.currentUser!=null && userService.currentUser.party!=null"
              [style.background]="userService.currentUser.party.color">
            </mat-card>
                <span *ngIf="userService.currentUser!=null">{{userService.currentUser.name}}</span>
                <span *ngIf="userService.currentUser!=null && userService.currentUser.party!=null" data-bs-toggle="tooltip" data-bs-placement="down" title="{{userService.currentUser.party.title}}">
                , группа {{userService.currentUser.party.title.length > 40 ? userService.currentUser.party.title.slice(0,40) + "..." : userService.currentUser.party.title}}
                </span>
            </mat-card>
            <img src="assets/user.svg" style="border: solid white; border-radius: 20%;"/>
    </mat-toolbar>
