<form [formGroup]="ideaForm" (ngSubmit)="onSubmit()" class="example-form" id="ideaFormId">
  <mat-card-content>
    <div>{{ideaForm.value.name.length}}/100</div>
    <mat-form-field class="example-full-width" [formGroup]="ideaForm">
      <input required matInput placeholder="Название" formControlName="name" />
    </mat-form-field>

    <div>{{ideaForm.value.text.length}}/256</div>
    <mat-form-field class="example-full-width" [formGroup]="ideaForm">
      <textarea
        style="height:200px"
        matInput
        placeholder="Описание"
        formControlName="text">
      </textarea>
    </mat-form-field>
  </mat-card-content>

  <button [disabled]="ideaForm.invalid" mat-flat-button color="primary" class="btn-block" type="submit">
    Ок
  </button>
  <button mat-flat-button color="primary" class="btn-block" (click)="ideaService.closeDialog()" style="margin:5px;">
    Отменить
  </button>
</form>
