<div style="height: 100%;">
  <div class="overflow-auto" style="display: flex; flex: 1; min-height: 0px; height: 550px;">
    <div style="flex:1; overflow-y: overlay; display: flex; flex-direction: column; ">
<div *ngFor="let board of boardList">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
          {{board.name}}
        </mat-panel-title>
        <button
        class="but"
        mat-mini-fab
        color="primary"
        (click)="navigateToBoardEdit(board.id)">
          <mat-icon>settings</mat-icon>
        </button>
        <div *ngIf="board.quota" style="margin-right: 10px;">
          Квота:
          <div>
            Пользователи: {{board.quota.users}}/0
            Идеи: {{board.quota.ideas}}/0
            Инициативы: {{board.quota.initiatives}}/0
          </div>
        </div>
    </mat-expansion-panel-header>
    <div>
      Код: {{board.code}}
    </div>
    <div>
      Дата создания: {{board.createDate}}
    </div>
    <div>
      <button mat-button
      (click)="updateBiddingStatus(board)" *ngIf="!boardSettingsService.bidding">
        Запустить торги
      </button>
      <button mat-button
              (click)="updateBiddingStatus(board)" *ngIf="boardSettingsService.bidding">
        Остановить торги
      </button>
    </div>
    <div>
      <button mat-button
              (click)="createConfirmationDialog('При перезапуске торгов вся информация по ставкам партий и потраченным очкам лояльности на данной доске будет удалена.', board)">
        Перезапустить торги
      </button>
    </div>
    <div>
      <button mat-button
      (click)="copyLink(board)">Скопировать ссылку для доступа</button>
    </div>
    <div>
      <button mat-button
      (click)="copyCode(board)">Скопировать код доступа</button>
    </div>
</mat-expansion-panel>
</div>
    </div>
  </div>
  <div class="d-flex flex-row-reverse" style="margin: 20px;">
    <button
    class="desktop_nav"
    style="justify-content: center; align-items: center;"
    mat-fab
    color="primary"
    (click)="service.createBoardDialog()">
    +
    </button>
    <mat-toolbar class="mobile_nav" style="height: 56px;" color="primary">
    <button
      mat-button
      style="flex: 1;"
      (click)="service.createBoardDialog()">
      +
    </button>
    </mat-toolbar>
    </div>
</div>

