<div class="form">
  <mat-form-field floatPlaceholder="never" color="accent">
    <input matInput #filter placeholder="Filter...">
  </mat-form-field>
</div>

<mat-table *ngIf="dataSource && currentClass=='User'" #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container  matColumnDef="id">
      <mat-header-cell style="width:20%;"*matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell style="width:20%;" *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="name">
      <mat-header-cell style="width:20%;" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell style="width:20%;" *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="email">
      <mat-header-cell style="width:20%;" *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
      <mat-cell style="width:20%;" *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="userRole">
      <mat-header-cell style="width:20%;" *matHeaderCellDef mat-sort-header>User role</mat-header-cell>
      <mat-cell style="width:20%;" *matCellDef="let row">{{row.userRole}}</mat-cell>
    </ng-container>
    
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
     Actions
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button class="mat-primary" (click)="editDialog(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button class="mat-primary" (click)="deleteDialog(row)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-table *ngIf="dataSource && currentClass=='Party'" #table [dataSource]="dataSource" matSort class="mat-cell">
  <ng-container  matColumnDef="id">
    <mat-header-cell style="width:15%;" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell style="width:15%;" *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="color">
    <mat-header-cell style="width:15%;" *matHeaderCellDef mat-sort-header>color</mat-header-cell>
    <mat-cell style="width:15%;" *matCellDef="let row">
      <mat-card class="party_color" [style.background]="row.color"></mat-card>
    </mat-cell>
  </ng-container>
  <ng-container  matColumnDef="title">
    <mat-header-cell style="width:15%;" *matHeaderCellDef mat-sort-header>title</mat-header-cell>
    <mat-cell style="width:15%;" *matCellDef="let row">{{row.title}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="creator">
    <mat-header-cell style="width:14%;" *matHeaderCellDef mat-sort-header>creator</mat-header-cell>
    <mat-cell style="width:14%;" *matCellDef="let row">{{row.creator.name}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="leader">
    <mat-header-cell style="width:14%;" *matHeaderCellDef mat-sort-header>leader</mat-header-cell>
    <mat-cell style="width:14%;" *matCellDef="let row">{{row.leader.name}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="board">
    <mat-header-cell style="width:14%;" *matHeaderCellDef mat-sort-header>board</mat-header-cell>
    <mat-cell style="width:14%;" *matCellDef="let row">{{row.board.name}}</mat-cell>
  </ng-container>
  
<ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>
   Actions
  </mat-header-cell>

  <mat-cell *matCellDef="let row; let i=index;">
    <button mat-icon-button class="mat-primary" (click)="editDialog(row)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>

    <button mat-icon-button class="mat-primary" (click)="deleteDialog(row)">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-table *ngIf="dataSource && (currentClass=='idea' || currentClass=='initiative')" #table [dataSource]="dataSource" matSort class="mat-cell">

  <ng-container  matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>number</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.number}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="text">
    <mat-header-cell *matHeaderCellDef mat-sort-header>text</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.text}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>title</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="author">
    <mat-header-cell *matHeaderCellDef mat-sort-header>author</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.author.name}}</mat-cell>
  </ng-container>
  <ng-container  matColumnDef="board">
    <mat-header-cell *matHeaderCellDef mat-sort-header>board</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.board.name}}</mat-cell>
  </ng-container>
  
<ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>
   Actions
  </mat-header-cell>

  <mat-cell *matCellDef="let row; let i=index;">
    <button mat-icon-button class="mat-primary" (click)="editDialog(row)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>

    <button mat-icon-button class="mat-primary" (click)="deleteDialog(row)">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator *ngIf="dataSource"
  [pageSizeOptions]="[5, 10]"
  showFirstLastButtons>
</mat-paginator>

<div *ngIf="dataSource" class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
  No results
</div>