<div style="height: 100%;">
  <div class="overflow-auto" style="height: 500px;">
    <div>
      <app-initiative *ngFor="let p of initiativeService.userThoughts" [initiative]="p"></app-initiative>
    </div>
  </div>
  <div class="d-flex flex-row-reverse" style="margin: 20px;">
    <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
      class="desktop_nav"
      style="justify-content: center; align-items: center;"
      mat-fab
      color="primary"
      (click)="initiativeService.createEditDialog()">
      +
    </button>
    <mat-toolbar class="mobile_nav" style="height: 56px;" color="primary">
     <button
      mat-button
      style="flex: 1;"
      (click)="initiativeService.createEditDialog()">
      +
      </button>
    </mat-toolbar>
  </div>
</div>