<div>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Добавить новую доску
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="boardForm" class="example-form" id="boardFormId">
                <mat-card-content>
                    <mat-form-field class="example-full-width" [formGroup]="boardForm">
                    <input required matInput autocomplete="off" placeholder="Код" formControlName="code" />
                  </mat-form-field>
                </mat-card-content>
                <button mat-flat-button color="primary" class="btn-block" (click)="addBoard()">
                    Добавить доску
                </button>
            </form>
        </mat-expansion-panel>
    </div>
    <div>
        <div *ngFor="let board of service.boardList">
            <mat-card>
                <span style="display: inline-block; width: 85%;">{{board.name}}</span>
                <button style="width: 15%;" mat-flat-button color="primary" class="btn-block" (click)="joinBoard(board)">
                    Войти
                </button>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>