<form [formGroup]="newUserForm" class="user-form" (ngSubmit)="saveUser(newUserForm.value)">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="userRole">
            <mat-option [value]="userRole" *ngFor="let userRole of userRoles">{{userRole}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button class="submit-button" mat-fab color="primary" type="submit">
        <mat-icon>done</mat-icon>
    </button>
</form>