<div style="width: 100%;">
    <span>Черный список</span>
    <form>
        <mat-form-field style="width: 100%;">
            <input type="text"
                placeholder="Поиск по пользователям"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" style="width:100%">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="width: 100%;">
                    {{option.name}}
                    <button mat-mini-fab color="primary" *ngIf="data.user.member.id == data.party.leader.id && option.id != data.user.id" (click)="ban(option)">
                        <mat-icon>person_remove</mat-icon>
                    </button>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <table scrollY="true" class="table table-bordered table-responsive" bordered="true">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Причина</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let element of bannedList">
                <th scope="row">{{element.user.name}}</th>
                <td>{{element.description}}</td>
                <td>
                    <button mat-mini-fab color="primary" *ngIf="data.user.member.id == data.party.leader.id" (click)="unban(element.user)">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>            
</div>
