button{
    margin: 5px;
}
.mat-icon {
  margin-right: 0 !important;
}
tbody {
    display: block;
    overflow: auto;
    height: 300px;
    width: 100%;
  }
  
  thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  thead{
    width: 100%;
}
  thead tr, tbody th, tbody td {
    text-align: center;
  }