<div class="desktop_content">
    <div class="example-card">
        <mat-card class="example-card" >
            <mat-card-header>
                <mat-card-title>
                    <mat-icon data-bs-toggle="tooltip" data-bs-placement="top" title="Не одобряю">thumb_down</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <div class="example-container">
                    <div cdkDropList id="badThoughts" #badThoughts="cdkDropList" [cdkDropListData]="initiativeService.bad_thoughts"
                        [cdkDropListConnectedTo]="[goodThoughts, uninterestingThoughts]" class="example-list"
                        (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding || !boardService.hasUserWriteGrants()">
                        <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.bad_thoughts"
                        [estimated]="true" [thoughtRate]="item"></app-initiative-estimate-listrow>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon svgIcon="boring" data-bs-toggle="tooltip" data-bs-placement="top" title="Неинтересно"></mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content  class="content">
                <div class="example-container">
                    <div cdkDropList id="uninterestingThoughts" #uninterestingThoughts="cdkDropList"
                        [cdkDropListData]="initiativeService.uninteresting_thoughts"
                        [cdkDropListConnectedTo]="[badThoughts, goodThoughts]" class="example-list"
                        (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding || !boardService.hasUserWriteGrants()">
                        <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.uninteresting_thoughts"
                        [estimated]="false" [thoughtRate]="item"></app-initiative-estimate-listrow>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <mat-icon data-bs-toggle="tooltip" data-bs-placement="top" title="На оценке">thumbs_up_down</mat-icon>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content  class="content">
            <div class="example-container">
                <div cdkDropList id="thoughtsForEstimation" #thoughtsForEstimation="cdkDropList"
                    [cdkDropListData]="initiativeService.thoughts_for_estimation"
                    [cdkDropListConnectedTo]="[badThoughts, goodThoughts, uninterestingThoughts]"
                    class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding || !boardService.hasUserWriteGrants()">
                    <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.thoughts_for_estimation"
                    [estimated]="false" [thoughtRate]="item"></app-initiative-estimate-listrow>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="example-card">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon data-bs-toggle="tooltip" data-bs-placement="top" title="Одобряю">thumb_up</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content  class="content">
                <div class="example-container">
                    <div cdkDropList id="goodThoughts" #goodThoughts="cdkDropList"
                        [cdkDropListData]="initiativeService.good_thoughts"
                        [cdkDropListConnectedTo]="[badThoughts, uninterestingThoughts]"
                        class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding || !boardService.hasUserWriteGrants()">
                        <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.good_thoughts"
                        [estimated]="true" [thoughtRate]="item"></app-initiative-estimate-listrow>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title style="display: inline;">
                    <mat-icon svgIcon="libra" data-bs-toggle="tooltip" data-bs-placement="top" title="Допуск" style="width: 48px; height: 48px;"></mat-icon>
                </mat-card-title>
                <mat-card-title style="display: inline; float: right">
                    <div class="width: 24px; height: 24px;">
                        <button *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
                                class="desktop_nav"
                                style="justify-content: center;"
                                mat-mini-fab
                                color="primary"
                                (click)="initiativeService.createEditDialog()">
                                +
                        </button>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content  class="content">
                <div *ngFor="let item of initiativeService.thoughts_for_judge">
                    <button mat-mini-fab color="primary" [disabled] = "initiativeService.votedThoughts[item.thought.id] == 1" *ngIf="!(boardSettingsService.bidding || item.thought.author.id==userService.currentUser.id)
                    && userService.currentUser.boardRole =='MEMBER'"
                    (click)="acceptRate(item.thought,1)"><mat-icon>add</mat-icon></button>
                    <button mat-mini-fab color="primary" [disabled] = "initiativeService.votedThoughts[item.thought.id] == -1" *ngIf="!(boardSettingsService.bidding || item.thought.author.id==userService.currentUser.id)
                    && userService.currentUser.boardRole =='MEMBER'"
                    (click)="acceptRate(item.thought,-1)"><mat-icon>remove</mat-icon></button>
                    <button mat-flat-button color="primary"
                     *ngIf="!boardSettingsService.bidding  && (userService.currentUser.boardRole =='CREATOR'
                     || userService.currentUser.boardRole =='ORGANIZER')"
                     (click)="accept(item.thought)">Допустить</button>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{item.thought.title}}">#{{item.thought.number}} {{ item.thought.title.length > 30 ? (item.thought.title | slice:0:30) + "..." : (item.thought.title) }}</span>
                    <button *ngIf = "userService.currentUser.id == userService.currentUser.currBoard.creator.id || userService.currentUser.userRole == 'ORGANIZER'" 
                    mat-mini-fab color="primary" style="float: right;" (click)="initiativeService.createInfoDialog(item.thought)">
                        <mat-icon>info</mat-icon>
                    </button>
                    <button *ngIf="userService.currentUser.id == userService.currentUser.currBoard.creator.id || userService.currentUser.boardRole == 'ORGANIZER'"
                    style="float: right;"
                    mat-mini-fab
                    color="primary"
                    (click)="initiativeService.deleteThoughtDialog(item.thought)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="mobile_content">
    <div class="example-container" id="bim" style="display: none;">
        <mat-icon matTooltip="Не одобряю">thumb_down</mat-icon>
        <div cdkDropList id="badThoughtsMobile" #badThoughtsMobile="cdkDropList" [cdkDropListData]="initiativeService.bad_thoughts"
            [cdkDropListConnectedTo]="[goodThoughtsMobile, uninterestingThoughtsMobile]" class="example-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding">
            <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.bad_thoughts" [estimated]="true" [thoughtRate]="item"></app-initiative-estimate-listrow>
        </div>
    </div>
    <div class="example-container" id="uim" style="display: none;">
        <mat-icon svgIcon="boring" matTooltip="Неинтересно"></mat-icon>
        <div cdkDropList id="uninterestingThoughtsMobile" #uninterestingThoughtsMobile="cdkDropList" [cdkDropListData]="initiativeService.uninteresting_thoughts"
            [cdkDropListConnectedTo]="[badThoughtsMobile, goodThoughtsMobile]" class="example-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding">
            <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.uninteresting_thoughts" [estimated]="false" [thoughtRate]="item"></app-initiative-estimate-listrow>
        </div>
    </div>
    <div class="example-container" id="ifem" style="display: none;">
        <mat-icon matTooltip="На оценке">thumbs_up_down</mat-icon>
        <div cdkDropList id="thoughtsForEstimationMobile" #thoughtsForEstimationMobile="cdkDropList" [cdkDropListData]="initiativeService.thoughts_for_estimation"
            [cdkDropListConnectedTo]="[badThoughtsMobile, goodThoughtsMobile, uninterestingThoughtsMobile]"
            class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding">
            <app-initiative-estimate-listrow *ngFor="let item of initiativeService.thoughts_for_estimation" [estimated]="false" [thoughtRate]="item"></app-initiative-estimate-listrow>
        </div>
    </div>
    <div class="example-container" id="gim" style="display: none;">
        <mat-icon matTooltip="Одобряю">thumb_up</mat-icon>
        <div cdkDropList id="goodThoughtsMobile" #goodThoughtsMobile="cdkDropList" [cdkDropListData]="initiativeService.good_thoughts"
            [cdkDropListConnectedTo]="[badThoughtsMobile, uninterestingThoughtsMobile]" class="example-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="boardSettingsService.bidding">
            <app-initiative-estimate-listrow cdkDrag *ngFor="let item of initiativeService.good_thoughts" [estimated]="true" [thoughtRate]="item"></app-initiative-estimate-listrow>
        </div>
    </div>
    <div class="example-container" id="ifjm">
        <mat-icon svgIcon="libra" matTooltip="Допуск" style="width: 48px; height: 48px;"></mat-icon>
        <div *ngFor="let item of initiativeService.thoughts_for_judge">
            <button  *ngIf="!(boardSettingsService.bidding || userService.currentUser.boardRole =='CREATOR' || item.thought.author.id==userService.currentUser.id
                    || userService.currentUser.boardRole =='ORGANIZER')" class="but"
                    (click)="acceptRate(item.thought,1)"><mat-icon>add</mat-icon></button>
                    <button  *ngIf="!(boardSettingsService.bidding || userService.currentUser.boardRole =='CREATOR' || item.thought.author.id==userService.currentUser.id
                    || userService.currentUser.boardRole =='ORGANIZER')" class="but"
                    (click)="acceptRate(item.thought,-1)"><mat-icon>remove</mat-icon></button>
                    <button mat-flat-button color="primary"
                    *ngIf="!boardSettingsService.bidding  && (userService.currentUser.boardRole =='CREATOR'
                    || userService.currentUser.boardRole =='ORGANIZER')"
                     (click)="accept(item.thought)">Допустить</button>
                    <span>#{{item.number}} {{ item.thought.title }}</span>
                    <button class="but" style="float: right;" (click)="initiativeService.createInfoDialog(item.thought)">
                        <mat-icon>info</mat-icon>
                    </button>
        </div>
    </div>
</div>
<mat-toolbar class="mobile_nav" color="primary">
    <button mat-button style="flex: 1;" (click)="mobileNavToBadThoughts()">
        <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-button style="flex: 1;" (click)="mobileNavToGoodThoughts()">
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-button style="flex: 1;" (click)="mobileNavToThoughtsForEstimation()">
        <mat-icon>thumbs_up_down</mat-icon>
    </button>
    <button mat-button style="flex: 1;" (click)="mobileNavToUninteresingThoughts()">
        <mat-icon svgIcon="boring" matTooltip="Неинтересно"></mat-icon>
    </button>
    <button mat-button style="flex: 1;" (click)="mobileNavToThoughtsForJudge()">
        <mat-icon svgIcon="libra" matTooltip="Допуск" style="width: 48px; height: 48px;"></mat-icon>
    </button>
</mat-toolbar>

