<div class="mat-dialog-container">
    <mat-card *ngIf="partyInfo">
        <mat-card-header>
            <mat-card-title>
                <h2>{{partyInfo.title}}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Общая информация"></mat-tab>
            <mat-tab *ngIf="ideas.length > 0" label="Идеи"></mat-tab>
            <mat-tab *ngIf="initiatives.length > 0" label="Инициативы"></mat-tab>
        </mat-tab-group>
        <mat-card-content>
            <div *ngIf="selectedIndex == 0">
                <h5>Создатель: {{partyInfo.creator}}</h5>
                <h5>Лидер: {{partyInfo.leader}}</h5>
                <h5>Кол-во участников: {{partyInfo.count}}</h5>
                <div *ngIf="ratesMatching">
                    <h5>Разница в оценке идей: {{ratesMatching.ideaMatch?.toFixed(2)}}</h5>
                    <h5>Разница в оценке инициатив: {{ratesMatching.initiativeMatch?.toFixed(2)}}</h5>
                </div>
            </div>


            
                <div *ngIf="selectedIndex == 1">
                    <div class="table_div d-flex">
                    <div class="table_div">

                        <table scrollY="true" class="table table-bordered table-responsive width-900" bordered="true">
                            <tbody>
                                <thead>
                                <tr>
                                    <th width="6%" scope="col" class="align-middle">№</th>
                                    <th width="94%" scope="col" class="align-middle">Название</th>
                                </tr>
                                </thead>

                                <tr *ngFor="let idea of ideas">
                                    <td width="6%" class="thought_name">
                                        #<span *ngIf="idea.number<100">0</span>
                                        <span *ngIf="idea.number<10">0</span>{{idea.number}}</td>
                                    <td width="94%" class="thought_name" data-bs-toggle="tooltip" data-bs-placement="top" title="{{idea.title}}">{{ idea.title.length > 70 ? (idea.title | slice:0:70) + "..." : (idea.title) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>

                <div *ngIf="selectedIndex == 2">
                    <div class="table_div d-flex">
                    <div class="table_div">
                        <table scrollY="true" class="table table-bordered table-responsive width-900" bordered="true">
                            <tbody>
                                <thead>
                                <tr>
                                    <th width="6%" scope="col" class="align-middle">№</th>
                                    <th width="94%" scope="col" class="align-middle">Название</th>
                                </tr>
                                </thead>

                                <tr *ngFor="let initiative of initiatives">
                                    <td width="6%" class="thought_name">
                                        #<span *ngIf="initiative.number<100">0</span>
                                        <span *ngIf="initiative.number<10">0</span>{{initiative.number}}</td>
                                    <td width="94%" class="thought_name" data-bs-toggle="tooltip" data-bs-placement="top" title="{{initiative.title}}">{{ initiative.title.length > 70 ? (initiative.title | slice:0:70) + "..." : (initiative.title) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            

        </mat-card-content>
    </mat-card>
</div>
