<mat-card class="box" class="login-wrapper">
  <mat-card-header>
    <mat-card-title>Войти</mat-card-title>
  </mat-card-header>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-card-content>
      <mat-form-field [formGroup]="signInForm" class="example-full-width">
        <input matInput placeholder="Почта или имя пользователя" [formControl]="login" required>
        <mat-error *ngIf="login.valid">Неправильный формат почты</mat-error>
      </mat-form-field>

      <mat-form-field [formGroup]="signInForm" class="example-full-width">
        <input matInput placeholder="Пароль" [formControl]="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        <mat-hint align="end">
          <a routerLink="/reset-password">Забыли пароль?</a>
        </mat-hint>
        <mat-hint align="start">
          <a routerLink="/sign-up">Зарегистрироваться</a>
        </mat-hint>
        <mat-error *ngIf="password.valid">Неправильный формат пароля</mat-error>
      </mat-form-field>
    </mat-card-content>
    <button mat-flat-button color="primary" class="btn-block" type="submit">Войти</button>
  </form>
</mat-card>