<div class="parent">
  <mat-form-field>
    <div style="text-align:center;">
      <mat-select matTooltip="Выберите доску" [(ngModel)]="selectedBoard">
      <mat-option selected disabled [value]="selectedBoard">{{selectedBoard.name}}</mat-option>
      <mat-option *ngFor="let board of boardService.boardList" (onSelectionChange)="joinBoard(board)"
      [value]="board" [disabled]="board.id == userService.currentUser.currBoard.id">
        {{board.name}}
      </mat-option>
    </mat-select>
    </div>
  </mat-form-field>
</div>