/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.message{
  background-color: #3f51b5;
  color:#FFFFFF;
}

.mat-tab-body-content {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden !important;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.mat-tab-body-wrapper {
  flex: 1;
}

.mat-card-content {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.mat-card-header-text {
  width: 100% !important;
}

button {
  margin: 5px;
}

/*.zone-inputs,*/
.ngx-mat-color-collection {
  display: none !important;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
}

.mobile_nav,
.mobile_content {
  display: flex !important;
}

.desktop_nav,
.desktop_content {
  display: none !important;
}

  
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #3f51b5; }

  th{
    font-weight: normal;
  }

  tbody {
    display: block;
    overflow: auto;
    height: 300px;
    width: 100%;
  }
  
  thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  thead {
    width: calc(100% - 1em);
    background-color: #3f51b5;
    color: white;
  }
  thead tr, tbody th, tbody td {
    text-align: center;
  }

@media only screen and (min-width: 600px) {
  .mobile_nav,
  .mobile_content {
    display: none !important;
  }
  .desktop_nav,
  .desktop_content {
    display: flex !important;
  }

  .cdk-overlay-pane {
    width: 70% !important;
  }
}
