<table mat-table [dataSource]="boardMembers" class="mat-elevation-z8">
    <ng-container matColumnDef="Имя">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let element" style="width:10%"> {{element.user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="E-mail">
      <th mat-header-cell *matHeaderCellDef>E-mail </th>
      <td mat-cell *matCellDef="let element"  style="width:40%"> {{element.user.email}} </td>
    </ng-container>
    <ng-container matColumnDef="Роль">
      <th mat-header-cell *matHeaderCellDef> Роль </th>
      <td mat-cell *matCellDef="let element"  style="width:20%"> {{element.role}} </td>
    </ng-container>
    <ng-container matColumnDef="Действия">
      <th mat-header-cell *matHeaderCellDef> Действия</th>
      <td mat-cell *matCellDef="let element"  style="width:40%">
        <button mat-button color="primary" (click)="changeRole(element,'ORGANIZER')"
         *ngIf="element.user.id!=userService.currentUser.id && element.role !== 'ORGANIZER'">
          Сменить роль на организатора</button>
        <button mat-button color="primary" (click)="changeRole(element,'OBSERVER')"
        *ngIf=" element.user.id!=userService.currentUser.id && element.role !== 'OBSERVER'">
          Сменить роль на наблюдателя</button>
        <button mat-button color="primary" (click)="changeRole(element,'MEMBER')"
        *ngIf=" element.user.id!=userService.currentUser.id && element.role !== 'MEMBER'">
          Сменить роль на пользователя</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>