<div class="mat-dialog-container">
    <div class="warn" *ngIf="addRate">После перемещения оценка была изменена</div>
    <div class="mat-dialog-title">{{data.thoughtRate.thought.title}}</div>
    <div *ngIf="!neg">
    <span>Укажите оценку от 1 до 10. Чем выше, тем лучше.</span> 
        <mat-slider
            class="est-slider"
            min="1"
            max="10"
            step="1"
            [(ngModel)]="rate"
            thumbLabel
        ></mat-slider>
    </div>
    <div *ngIf="neg">
        <span>Укажите оценку от -1 до -10. Чем ниже, тем хуже.</span> 
        <mat-slider
            class="est-slider"
            inverted
            min="-10"
            max="-1"
            step="-1"
            [(ngModel)]="rate"
            thumbLabel
        ></mat-slider>
    </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onSubmit()">Ок</button>
            <button mat-button (click)="close()">Отмена</button>
        </div>
    </div>