table {
    position: relative;
    width: 32%;
    float:left;
    border-right: #3f51b5 1px solid;
    border-left: #3f51b5 1px solid;
    border-top:#3f51b5 1px solid ;
  }
  table:first-child{
    border-right: 0;
    border-left:0;
  }
  table:last-child{
    border-right: 0;
    border-left:0;
  }
 td{
   margin: 0;
   border: 0;
   text-align: center;
   font-size: 90%;
  }
button{
  width:100%;
  height:100%;
  border: 0;
}
tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  width: 100%;
}

.listBtn {
  width: 30px;
  height: 30px;
}

.button {
  font-size: 100%;
}

.label {
  width: 75%;
}
