<div>
  <form
  [formGroup]="initiativeForm"
  (ngSubmit)="onSubmit()"
  class="example-form"
>
<div class="text-center" *ngIf="supp.length==0" style="background-color: #FFF166; height:25px;">
  <label class="text-center">Инициатива должна относится положительно хотя бы к 1 идее </label>
</div>
  <mat-card-content>
    <div *ngIf="initiativeForm">{{initiativeForm.value.name.length}}/100</div>
    <mat-form-field class="example-full-width" [formGroup]="initiativeForm">
      <input required matInput placeholder="Название" formControlName="name" />
    </mat-form-field>
    <div *ngIf="initiativeForm">{{initiativeForm.value.text.length}}/256</div>
    <mat-form-field class="example-full-width" [formGroup]="initiativeForm">
      <textarea
        style="height:100px"
        matInput
        placeholder="Описание"
        formControlName="text"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
<div>
  <table>
    <thead>
      <td colspan="3">Противоречащие идеи</td>
     </thead>
     <tbody>
      <tr *ngFor="let initIdea of counter">
        <td><button class="listBtn" mat-mini-fab color="primary" (click)="inSupp(counter,initIdea)"><mat-icon class="button">thumb_up_alt</mat-icon></button></td>
        <td class="label" data-bs-toggle="tooltip" data-bs-placement="top" title="{{initIdea.idea.title}}">{{initIdea.idea.title.length > 20 ? (initIdea.idea.title | slice:0:20) + "..." : (initIdea.idea.title)}}</td>
        <td><button class="listBtn" mat-mini-fab color="primary" (click)="return(counter,initIdea)"><mat-icon class="button">close</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
<table>
  <thead>
    <td colspan="3">Общий спиcок идей</td>
   </thead>
   <tbody>
     <tr>
     <td></td>
     <td>Заголовок</td>
     <td></td>
     </tr>
     <tr *ngFor="let initIdea of ideas">
      <td><button class="listBtn" mat-mini-fab color="primary" (click)="inCounter(ideas,initIdea)"><mat-icon class="button">thumb_down_alt</mat-icon></button></td>
      <td class="label" data-bs-toggle="tooltip" data-bs-placement="top" title="{{initIdea.idea.title}}">{{initIdea.idea.title.length > 20 ? (initIdea.idea.title | slice:0:20) + "..." : (initIdea.idea.title)}}</td>
      <td><button class="listBtn" mat-mini-fab color="primary" (click)="inSupp(ideas,initIdea)"><mat-icon class="button">thumb_up_alt</mat-icon></button></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <td colspan="3">Поддерживающие идеи</td>
  </thead>
  <tbody>
    <tr *ngFor="let initIdea of supp">
      <td><button class="listBtn" mat-mini-fab color="primary" (click)="return(supp,initIdea)"><mat-icon class="button">close</mat-icon></button></td>
      <td class="label" data-bs-toggle="tooltip" data-bs-placement="top" title="{{initIdea.idea.title}}">{{initIdea.idea.title.length > 20 ? (initIdea.idea.title | slice:0:20) + "..." : (initIdea.idea.title)}}</td>
      <td><button class="listBtn" mat-mini-fab color="primary" (click)="inCounter(supp,initIdea)"><mat-icon class="button">thumb_down_alt</mat-icon></button></td>
    </tr>
  </tbody>
</table>
</div>
  <button *ngIf="supp.length>0" [disabled]="initiativeForm.invalid" mat-flat-button color="primary" class="btn-block" type="submit" style="margin:5px;">
    Ок
  </button>
  <button mat-flat-button color="primary" class="btn-block" type="reset" (click)="initiativeService.closeDialog()" style="margin:5px;">
    Отменить
  </button>
</form>
</div>
