<mat-card class="login-wrapper box">
  <mat-card-header>
    <mat-card-title>Зарегистрироваться</mat-card-title>
  </mat-card-header>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="example-form">

    <mat-card-content>
      <mat-form-field class="example-full-width" [formGroup]="signUpForm">
        <input matInput placeholder="Логин" [formControl]="nickName">
        <mat-icon matSuffix *ngIf="usernameValidation.valid && usernameValidation.value.length>0">report_problem</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width" [formGroup]="signUpForm">
        <input matInput placeholder="Почта" [formControl]="email">
      </mat-form-field>

      <mat-form-field [formGroup]="signUpForm" class="example-full-width">
        <input matInput placeholder="Пароль" [formControl]="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
        <mat-error *ngIf="password.valid">Неправильный формат пароля</mat-error>
      </mat-form-field>

      <mat-error *ngIf="userAlreadyExists">Пользователь с таким именем или почтой уже существует</mat-error>
      <mat-error *ngIf="usernameValidation.valid && usernameValidation.value.length>0">Неправильный формат логина</mat-error>
    </mat-card-content>

    <button mat-flat-button color="primary" class="btn-block" type="submit">Зарегистрироваться</button>
  </form>
</mat-card>