mat-radio-button {
    margin: 5px;
}
body{
    background-color: #bdc3c7;
  }
  h4, h5 {
    font-weight: normal;
    color: gray;
  }
  .table_div {
    margin: 5px;
  }
thead{
    width: 100%;
}
thead tr, tbody th, tbody td{
    text-align: left;
}
button{
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

hr {
  margin: 10px;
}
::ng-deep .mat-sort-header-arrow {
  color: #fff;
}
:host{height: 75vh; flex:1; display: flex; flex-direction: column; }

table.width-900 {
    width: 900px;
    border-collapse: collapse;
}

