<div class="row" style="margin: 10px;">
    <div class="col-md-6">
            <div style="margin: 5px;">
                <mat-radio-group aria-label="Выберите тип" color="primary" [(ngModel)]="radio">
                    <mat-radio-button value="1" (change)="getData($event)">Идеи</mat-radio-button>
                    <mat-radio-button value="2" (change)="getData($event)">Инициативы</mat-radio-button>
                    <mat-radio-button value="3" (change)="getData($event)">Группы</mat-radio-button>
                </mat-radio-group>
                <input [disabled]="radio=='3'" matInput type="text" style="width: 85%; height: 30px;" placeholder="Название или номер"
                [(ngModel)]="search"
                (keyup.enter)="getList()">
                <button [disabled]="!radio" mat-mini-fab color="primary" style="width: 5%;border-radius: 5%;"
                (click)="getList()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div class="table_div d-flex">
                <div *ngIf="radio!='3'" class="table-div" style="margin: 10px;">
                    <table scrollY="true" class="table table-bordered table-responsive width-900" bordered="true" matSort (matSortChange)="sortData($event)">
                        <thead>
                            <tr>
                                <th width="6%" scope="col" class="align-middle" mat-sort-header="number">№</th>
                                <th width="29%" scope="col" class="align-middle" mat-sort-header="title">Название</th>
                                <th width="9%"  scope="col" class="align-middle" mat-sort-header="rate">Оценка</th>
                                <th width="11%" scope="col" class="align-middle" class="text-break" mat-sort-header="absRate">Σ оценка</th>
                                <th width="12%" scope="col" *ngIf="userService.currentUser.boardRole =='CREATOR'
                                || userService.currentUser.boardRole =='ORGANIZER' || (userService.currentUser.party? userService.currentUser.party.leader.id == userService.currentUser.id : false)" class="text-break" mat-sort-header="number">Max ставка</th>
                                <th width="15%" scope="col" class="align-middle" *ngIf="userService.currentUser.boardRole =='CREATOR'
                                || userService.currentUser.boardRole =='ORGANIZER' || (userService.currentUser.party? userService.currentUser.party.leader.id == userService.currentUser.id : false)">Группа</th>
                                <th width="13%" scope="col" class="align-middle">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of sortedData">
                                <td width="6%" class="align-middle" scope="row">
                                    #<span *ngIf="obj.number<100">0</span>
                                    <span *ngIf="obj.number<10">0</span>{{obj.number}}
                                </td>
                                <td width="29%" class="align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title={{obj.title}}>{{obj.title.length > 20 ? (obj.title | slice:0:20) + "..." : (obj.title)}}</td>
                                <td width="9%" class="align-middle">{{obj.rate.toFixed(2)}}</td>
                                <td width="11%" class="align-middle">{{obj.absRate}}</td>
                                <td width="12%" class="align-middle" *ngIf="userService.currentUser.boardRole =='CREATOR'
                                || userService.currentUser.boardRole =='ORGANIZER' || (userService.currentUser.party? userService.currentUser.party.leader.id == userService.currentUser.id : false)">{{ maxBidInfo[obj.id] ? maxBidInfo[obj.id].loyalty : 0 }}</td>
                                <td width="15%" class="align-middle" *ngIf="userService.currentUser.boardRole =='CREATOR'
                                || userService.currentUser.boardRole =='ORGANIZER' || (userService.currentUser.party? userService.currentUser.party.leader.id == userService.currentUser.id : false)">
                                        <mat-card *ngIf="maxBidInfo[obj.id] != null" class="party_color" [style.background]="maxBidInfo[obj.id].party.color"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Группа: {{maxBidInfo[obj.id].party.title}}">
                                        </mat-card>
                                </td>
                                <td width="13%" class="align-middle">
                                    <button mat-mini-fab color="primary"
                                        style="float:right;"
                                        (click)="getMatrixData(obj.id)">
                                    <mat-icon>info</mat-icon>
                                    </button>
                                    <button mat-mini-fab color="primary"
                                        style="float:right;"
                                        *ngIf="userService.currentUser.boardRole =='CREATOR' || userService.currentUser.boardRole =='ORGANIZER'"
                                        (click)="concludeVoting(obj.id)">
                                    <mat-icon>done</mat-icon>
                                    </button>
                                </td>
                            </tr>
                      </tbody>
                      </table>
                </div>
            </div>
            <div class="table_div d-flex">
                <div *ngIf="radio=='3'" class="table-div" style="margin: 10px;">
                    <table scrollY="true" class="table table-bordered table-responsive" bordered="true" matSort (matSortChange)="sortPartyData($event)">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle" mat-sort-header="title">Группа</th>
                                <th scope="col" class="align-middle">Цвет</th>
                                <th scope="col" class="align-middle" mat-sort-header="membersCount">Численность</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let party of sortedPartyData">
                                <td class="align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title={{party.title}}>{{party.title.length > 30 ? (party.title | slice:0:30) + "..." : (party.title)}}</td>
                                <td class="align-middle"><mat-card class="party_color" style="margin-right: 5px;"
                                     [style.background]="party.color">
                                   </mat-card></td>
                                <td class="align-middle">{{party.membersCount}}</td>
                            </tr>
                      </tbody>
                      </table>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <h5>Карта</h5>
            <table>
                <tbody>
                    <tr *ngFor="let row of matrix">
                        <td *ngFor="let col of row">
                            <mat-card *ngIf="col!=null" [style.background]="col"></mat-card>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
