:host{margin: 5px;}
.party_body {display: flex; align-items: center; flex-direction: row; justify-content: space-around;}
.party_name {flex: 1;}
.party_color {width: 20px; height: 20px; flex: 0.1;}
.party_join {flex: 0.1; margin:5px;}
.but{
    border:0;
    cursor: pointer;
    background-color: #3f51b5;
  }