<mat-card class="party_body">
  <div class="party_name" data-bs-toggle="tooltip" data-bs-placement="top" title="{{party.title}}">{{ party.title.length > 40 ? (party.title | slice:0:40) + "..." : (party.title)}}</div>
  <mat-card class="party_color" [style.background]="party.color"></mat-card>
  <mat-chip-list class="party_join">
    <mat-chip color="primary" *ngIf="boardSettingsService.bidding && boardService.hasUserWriteGrants() || (userService.currentUser.party != null && userService.currentUser.party.title == party.title)" disabled selected>Вступить</mat-chip>
    <mat-chip color="primary" *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants() && (userService.currentUser.party == null || userService.currentUser.party.title != party.title)" (click)="joinParty()" selected>Вступить</mat-chip>
  </mat-chip-list>
  <button 
  *ngIf= "boardService.hasUserWriteGrants() && partyService.partyInfoMap.get(party.id).creator.id == userService.currentUser.id"
  class="but"
  mat-mini-fab
  color="primary"
  (click) = "partyService.createEditDialog(party)"
   >
  <mat-icon>edit</mat-icon>
  </button>
  <button class="but" mat-mini-fab (click)="partyService.createInfoDialog(party)"><mat-icon>info</mat-icon></button>
</mat-card>
