<div class="mat-dialog-container">
    <mat-card>
        <h3>#{{thought.number}} {{thought.title}}</h3>
        <h4>Автор: {{thought.author.name}}</h4>
        <div>
            <textarea  readonly="readonly" style="font-family: Roboto, 'Helvetica Neue', sans-serif; resize: none; height: 100px; width: 100%; ">
                {{thought.text}}
            </textarea>
        </div>
        <mat-tab-group *ngIf="isLeader" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Общая информация"></mat-tab>
            <mat-tab label="Групповая информация"></mat-tab>
            <mat-tab *ngIf="info && info.rate > 0" label="Торговая информация">
                <mat-slider *ngIf="info!=null && userService.currentUser.id == userService.currentUser.party.leader.id"
                    class='margin-slider'
                    [min]="0"
                    [max]="100"
                    step="5"
                    (change)="sliderChange($event)"
                    [(ngModel)]="thoughtBid.loyaltyPercent"
                    thumbLabel
                ></mat-slider>

                <label *ngIf="info!=null">%: {{maxLoyaltyPercent}}/100</label>
                <label *ngIf="info!=null">Попыток осталось: {{thoughtBid.attempt}}</label>
                <label *ngIf="info!=null">Предыдущая ставка: {{lastPercent ? lastPercent * membersCount * info.rate : 0}}</label>
                <label *ngIf="info!=null">Текущая ставка: {{loyaltyCount}}</label>

                <button *ngIf="info!=null"
                      mat-button color="primary"
                      [disabled]="!(info!=null && userService.currentUser.id == userService.currentUser.party.leader.id)"
                      (click)="saveLoyalty()">Подтвердить ставку</button>
            </mat-tab>
        </mat-tab-group>
            <div>
                <div *ngIf="info!=null">Средняя оценка: {{info.rate?.toFixed(2)}}</div>
                <div *ngIf="info!=null">Средняя положительная оценка: {{info.averagePlusRate?.toFixed(2)}}</div>
                <div *ngIf="info!=null">Средняя отрицательная оценка: {{info.averageNegRate?.toFixed(2)}}</div>
                <div *ngIf="acceptInfo!=null">Оценок за: {{acceptInfo.plus}}</div>
                <div *ngIf="acceptInfo!=null">Оценок против: {{acceptInfo.minus}}</div>
                <table *ngIf="tabIndex == 1" scrollY="true" class="table table-bordered table-responsive" bordered="true">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">Группа</th>
                            <th scope="col" class="align-middle">Потенциальная максимальная ставка</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bidInfo of maxBidInfo">
                            <td class="align-middle" scope="row">{{bidInfo.title}}</td>
                            <td class="align-middle">{{bidInfo.maxBid}}</td>
                        </tr>
                  </tbody>
                  </table>
            </div>
        <mat-card-content *ngIf="tabIndex == 0">
            <span>Список отношений</span>
            <div class="table_div d-flex">
                <div class="table_div">
                <table scrollY="true" class="table table-bordered table-responsive width-900" bordered="true">
                    <tbody>
                        <tr>
                            <th width="100%" scope="col" class="align-middle" colspan="5">Поддерживающие</th>
                        </tr>
                        <thead>
                        <tr>
                            <th width="6%" scope="col" class="align-middle">№</th>
                            <th width="53%" scope="col" class="align-middle">Название</th>
                            <th width="13%" scope="col" class="align-middle">Средняя оценка</th>
                            <th width="14%" scope="col" class="align-middle">Средняя + оценка</th>
                            <th width="14%" scope="col" class="align-middle">Средняя - оценка</th>
                        </tr>
                        </thead>
                        <tr *ngFor="let thoughtInfo of suppList">
                            <td width="6%">
                                #<span *ngIf="thoughtInfo.thought.number<100">0</span>
                                <span *ngIf="thoughtInfo.thought.number<10">0</span>{{thoughtInfo.thought.number}}
                            </td>
                            <td width="53%" class="thought_name" data-bs-toggle="tooltip" data-bs-placement="top" title="{{thoughtInfo.thought.title}}">{{ thoughtInfo.thought.title.length > 40 ? (thoughtInfo.thought.title | slice:0:40) + "..." : (thoughtInfo.thought.title) }}</td>
                            <td width="13%">{{thoughtInfo.averageRate?.toFixed(2)}}</td>
                            <td width="14%">{{thoughtInfo.averagePlusRate?.toFixed(2)}}</td>
                            <td width="14%">{{thoughtInfo.averageNegRate?.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <th width="100%" scope="col" class="align-middle" colspan="5">Противодействующие</th>
                        </tr>
                        <thead>
                        <tr>
                            <th width="6%" scope="col" class="align-middle">№</th>
                            <th width="53%" scope="col" class="align-middle">Название</th>
                            <th width="13%" scope="col" class="align-middle">Средняя оценка</th>
                            <th width="14%" scope="col" class="align-middle">Средняя + оценка</th>
                            <th width="14%" scope="col" class="align-middle">Средняя - оценка</th>
                        </tr>
                        </thead>
                        <tr *ngFor="let thoughtInfo of counterList">
                            <td width="6%">
                                #<span *ngIf="thoughtInfo.thought.number<100">0</span>
                                <span *ngIf="thoughtInfo.thought.number<10">0</span>{{thoughtInfo.thought.number}}
                            </td>
                            <td width="53%" class="thought_name" data-bs-toggle="tooltip" data-bs-placement="top" title="{{thoughtInfo.thought.title}}">{{ thoughtInfo.thought.title.length > 40 ? (thoughtInfo.thought.title | slice:0:40) + "..." : (thoughtInfo.thought.title) }}</td>
                            <td width="13%">{{thoughtInfo.averageRate?.toFixed(2)}}</td>
                            <td width="14%">{{thoughtInfo.averagePlusRate?.toFixed(2)}}</td>
                            <td width="14%">{{thoughtInfo.averageNegRate?.toFixed(2)}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
