<div style="height: 100%; margin: 10px;">
  <div>
    <button style="margin: 5px;" *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants() && userService.currentUser.party!=null" mat-flat-button color="primary" (click)="exit()">
      Покинуть свою группу
  </button>
  </div>
  <div style="display: flex; flex: 1; min-height: 0px; height: 455px; max-height: 455px;" class="overflow-auto">
    <div
      style="flex:1; overflow-y: overlay; display: flex; flex-direction: column; ">
      <app-party
        *ngFor="let p of partyService.parties"
        [party]="p"
      ></app-party>
    </div>
  </div>
<div class="d-flex flex-row-reverse" style="margin: 0px;">
  <button
  class="desktop_nav"
  style="justify-content: center; align-items: center;"
  mat-fab
  color="primary"
  *ngIf="!boardSettingsService.bidding && boardService.hasUserWriteGrants()"
  (click)="partyService.createEditDialog()">
  +
</button>
<mat-toolbar class="mobile_nav" style="height: 100px; margin: 0px;" color="primary" >
  <button
    mat-button
    style="flex: 1; "
   
    (click)="partyService.createEditDialog()">
    +
  </button>
</mat-toolbar>
  </div>
</div>
